
@font-face {
    font-family: 'bangersregular';
    src: url('../fonts/bangers-webfont.eot');
    src: url('../fonts/bangers-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bangers-webfont.woff2') format('woff2'),
         url('../fonts/bangers-webfont.woff') format('woff'),
         url('../fonts/bangers-webfont.ttf') format('truetype'),
         url('../fonts/bangers-webfont.svg#bangersregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
        font-family: 'bangersregular';
        font-weight: normal;
        background-color: #707172;
        text-align: center;
        color:#707172;
        overflow: hidden;
        padding: 0px;
        margin: 0px auto;
        border: 0px;
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
      }

      canvas {
        -moz-box-shadow: 0px 0px 12px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 12px rgba(0,0,0,0.75);
        margin-top: 0px;
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
        position: absolute;
        display: block;
      }


      #editorCanvas {
        -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 4px rgba(0,0,0,0.75);
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
      }

      #editor {
        margin-top: 0px;
        display: none;
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
      }

      #credits {
        margin-top: 0px;
        font-size: small;
        max-width: relative;
      }

      #tweeter {
        display: none;
        border: 0;
        top: 45%;
        position: relative;
        left: 40%;
        width: 120px;
        opacity: 0;
      }
     /* ----- botões ----- */
      #open-modal{
        position: absolute;
        bottom:2px;
        padding: 0px;
        left:2px;
        background: transparent;
        border: none;
        outline: none;
      }

     #close-modal{
            opacity: 1 !important;
          }


      .botoes-config{
        padding: 10px;
        display: inline-block;
        opacity: 1 !important;
        background-color: rgba(205, 30, 50, 0.7);
        outline: none;
        border-radius: 35px;
        box-shadow: -1px 3px  rgb(211, 34, 92);
        border: none;
        text-align: center;
        position: relative;
      }


      .closebt{
        background-color: transparent;
        border: none;
        float: right;
        margin-right: -4px;
        margin-top: 1px;
       outline: none;
        border-radius: 35px;
        
        border: none;
      }

    /* ----- fim botões ----- */

      #myModal{
        background-color: rgba(33,31,31,0.8);
        min-height: 100%;
        max-height: 100%;
        font-family: 'bangersregular';
        list-style-type: none;
        text-align: center;
        color: #FFF;
        z-index: 9999;
        max-width: 100%;
        min-width: 100%;
        border: 10px 10px solid #fff;
        overflow: none;

      }

      #myModal ul{
        list-style: none;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      #myModal ul li{
        display: inline;
      }

      #myModal h2{
        margin-top: 55px;
      }

      #myModal > div{
        margin-right: 30px;
      }

      #modalPoints{
        background-color: rgba(33,31,31,0.8);
        min-height: 100%;
        max-height: 100%;
        font-family: 'bangersregular';
        list-style-type: none;
        text-align: center;
        color: #FFF;
        z-index: 9999;
        max-width: 100%;
        min-width: 100%;
        border: 10px 10px solid #fff;
        overflow: hidden;
     }

     #modalPoints > div{
      position: relative;
      margin-top: 15px;
     }

     #modalPoints nav{
      font-size: 30px;
      text-align: center;
      color: #fff;
     }



      #modalHelp{
        background-color: rgba(33,31,31,0.8);
        min-height: 100%;
        max-height: 100%;
        font-family: 'bangersregular';
        list-style-type: none;
        text-align: center;
        color: #FFF;
        z-index: 9999;
        max-width: 100%;
        min-width: 100%;
        box-shadow: 0 10px 6px -6px #000;
        overflow: hidden;
      }

      #modalHelp p{
        font-size: 25px;
        margin-top: 40px;
        padding: 0px;
      }

      #modalCredits{
        background-color: rgba(33,31,31,0.8);
        min-height: 100%;
        max-height: 100%;
        font-family: 'bangersregular';
        list-style-type: none;
        text-align: center;
        color: #FFF;
        z-index: 9999;
        max-width: 100%;
        min-width: 100%;
        box-shadow: 0 10px 6px -6px #000;
        overflow: hidden;
      }

      #modalCredits > div{
        margin-top: 30px;
        font-size: 25px;

      }


      #modalLevel{
        background-color: rgba(33,31,31,0.8);
        min-height: 100%;
        max-height: 100%;
        font-family: 'bangersregular';
        list-style-type: none;
        text-align: center;
        color: #FFF;
        z-index: 9999;
        max-width: 100%;
        min-width: 100%;
        box-shadow: 0 10px 6px -6px #000;
        outline: none;
        overflow: hidden;
      }

      #modalLevel img{
        padding: 3px;
      }

      #modalLevel > div{
        margin-top: 25px;
      }

      #modalGameOver{
        background-color: rgba(0,0,0,0.8);
        min-height: 100%;
        max-height: 100%;
        font-family: 'bangersregular';
        list-style-type: none;
        text-align: center;
        color: #FFF;
        z-index: 9999;
        max-width: 100%;
        min-width: 100%;
        box-shadow: 0 10px 6px -6px #000;
        overflow: hidden;
      }

      #modalGameOver ul{
      list-style: none;
      display: inline-block;
     }

     #modalGameOver ul li{
      display: inline-block;
      padding: 3px;
     }

     #modalGameOver nav{
        color: #fff;
        font-size: 30px;
        position: relative;
     }

     #modalGameOver > div{
      margin-top: 10px;
     }

     .imgSett{
      position: relative;
      margin-left: 50px;
      top: 25px;
     }

     .popover{
       background-color: rgb(200, 37, 51); 
       color: #fff;
       box-shadow: -2px 4px rgb(211, 34, 92);
       border-radius: 50px;
       position: absolute;
       display: inline-block;
       position: absolute;
       padding: 0px;
     }
