
html{
    overflow: hidden;
    margin: 0;
    padding: 
}

body{
    background-color: #20B2AA
  }

div{
   width: 100%;
    height: 100%;
}

.slide{
   width: 70%;
    height: 70%;
}

.slide nav{ 
    position: absolute;
    opacity: 0;
    width:30%;
    height:30%;
    position:absolute;
    top:35%;
    left:35%;
}

.slide img{
    width: 100%;
    height: auto; 
    transition:1s;
}

nav:nth-child(1) {
  -webkit-animation: xfade 4s 0s;
  -moz-animation: xfade 4s 0s;
  -ms-animation: xfade 4s 0s;
  -o-animation: xfade 4s 0s;
  animation: xfade 4s 0s;
}

nav:nth-child(2) {
  -webkit-animation: xfade 8s 2s;
  -moz-animation: xfade 8s 2s;
  -ms-animation: xfade 8s 2s;
  -o-animation: xfade 8s 2s;
  animation: xfade 8s 2s;
}

@keyframes xfade{
    50% {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}

100% {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}
}





